DB_HOST=localhost
DB_PORT=5432
DB_SCHEMA=alert
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=alert
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}?schema=${DB_SCHEMA}&sslmode=prefer
BINANCE_KEY=
BINANCE_SECRET=
COINMARKETCAP=
TELEGRAM_BOT=
BOT_CHANNEL=
